/*Italic label*/
label{
	font-style: italic;
}

::-webkit-input-placeholder {
    font-style:	italic;
}

/*input css*/
input{
  width: 100%;
}

input[type="text"]
{
    font-style: italic;
    border: none;
    width: 50px; height: 25px;
}

/* fa plus green button */
.green {
	margin: 0.8em 0.8em 0em 0.4em;
	color: green;
}

/*image div with plus button*/
.imageDiv {
  position: relative;
  width: 25px;
  height: 25px;
  background: rgb(211,211,211);
  text-align: center;
  padding-top: .3em;
  color:  rgb(169,169,169);
  background-repeat:no-repeat;
  background-size:contain;
}

.cross {
    position: absolute;
    top: -5px;
    right: -5px;
    color: red;
}
